.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  /* padding: 0 20px; */
}

.video {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.content {
  position: absolute;
  z-index: 2;
  top: 25%;
  height: 40px;
  display: flex;
  align-items: center;
}

.content__input {
  z-index: 2;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  border: 1px solid transparent;
  height: 60px;
  width: 230px;
  padding: 10px 20px;
  font-size: 28px;
  border-bottom: 2px solid #03030348;
}

@media screen and (min-width: 480px) {
  .content__input {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .content__input {
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .content__input {
    width: 500px;
  }
}

.content__input:focus {
  outline: transparent;
}

.content__button {
  z-index: 2;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  border: 1px solid transparent;
  height: 60px;
  width: 50px;
  border-bottom: 2px solid #03030348;
  cursor: pointer;
}

.search {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  border: 1px solid transparent;
  height: 60px;
  width: 230px;
  padding: 10px 20px;
  font-size: 28px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

@media screen and (min-width: 480px) {
  .search__input {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .search__input {
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .search__input {
    width: 500px;
  }
}

.search__input:focus {
  outline: transparent;
}

.search__button {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  border: 1px solid transparent;
  height: 60px;
  width: 50px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
