.header__container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .header__container {
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 688px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    max-width: 1200px;
  }
}

.logo__wrapper {
  display: flex;
}

.header__title {
  z-index: 3;
  color: #efefef;
  text-transform: capitalize;
  font-size: 48px;
  text-shadow: 1px 1px 2px #241e20;
  margin: 10px 0;
}
